**/.idea/
**/.terraform/

**/*.tfvars
**/*.tfstate
**/*.tfstate*
**/*.terraform.lock.hcl
**/.terraform.lock.hcl
metastore_db
spark-warehouse
tests/files/data
terraform.tf
aviator_pipeline.yml
derby.log
workspaces.tf
**/*.pyc
*.pyc
__pycache__
**/__pycache__
**/.DS_Store
.DS_Store
